# Table of Contents
## 1. Data Import and Checks
## 2. Merge Data
## 3. Export Data

# 1. Data Import and Checks

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create path 
path = r'C:\Users\18602\Documents\Data Analytics\Data Immersion\Month 4\Instacart Basket Analysis'

In [3]:
# import order_products_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [5]:
# import orders
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [7]:
df_ords_prior.columns

Index(['order_id', 'product_id', 'add_to_cart_order', 'reordered'], dtype='object')

In [10]:
# Check size df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [11]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [12]:
# Check the output for orders

df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [13]:
df_ords.shape

(3421083, 7)

# 2. Merge Data

In [14]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [15]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both
1,0,2539329,1,1,2,8,NaN,14084.0,2.0,0.0,both
2,0,2539329,1,1,2,8,NaN,12427.0,3.0,0.0,both
3,0,2539329,1,1,2,8,NaN,26088.0,4.0,0.0,both
4,0,2539329,1,1,2,8,NaN,26405.0,5.0,0.0,both

In [16]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

# 3. Export Data

In [17]:
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_combined.pkl'))

In [18]:
df_merged_large.columns

Index(['Unnamed: 0', 'order_id', 'user_id', 'order_number',
       'order_day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'product_id', 'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')